/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

/* Cuerpo de la página */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

/* Pie de página */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    color: #333;
}


.mensaje {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
    display: none;
}

.pregunta {
    margin-top: 20px;
}

.opcion {
    margin: 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.opcion:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

header p {
    font-size: 20px;
    margin-top: 10px;
}

#reiniciar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#reiniciar:hover {
    background-color: #d32f2f;
}





/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    header {
        padding: 10px 0;
    }

    h1 {
        font-size: 24px;
    }

    .button {
        padding: 10px 20px;
        font-size: 16px;
    }

    footer {
        font-size: 14px;
        padding: 8px 0;
    }
}
